@import "tailwindcss";

@keyframes dropLoop {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    transform: translateY(10px);
    opacity: 1;
  }
  100% {
    transform: translateY(18px);
    opacity: 0;
  }
}

.animate-drop-loop {
  animation: dropLoop 1.5s ease-in-out infinite;
}
